.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    top:0;
    bottom: 0;
    color: #FFFFFF;
    background-color: #191718;
}

.sidebar_item {
    padding-left: 16px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    border-bottom: 1px solid #5C5C5C;
}
.sidebar_item:hover {
    background-color: #ccc;
    color: #fff;
}
@media (max-width:480px){
    .sidebar {
        width: 100%;
        height: 80px;
        display: block;
    }
    .sidebar_items{
        display: flex;
        justify-content: space-between;
    }
    .sidebar_item {
        height: 80px;
        border: none;
        padding: 0 12px;
        line-height: 80px;
    }
}